[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.7.9"
pipenv-devcheck = "==0.2.5"
pytest = "==5.3.2"
moto = "*"

[packages]
boto3 = "==1.13.11"
pandas = "==1.0.3"

[requires]
python_version = "3.7"
