[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "nhds"
url = "https://${NHDS_PYPI_USERNAME}:${NHDS_PYPI_PASSWORD}@pypi.neighborhoods.com/simple"
verify_ssl = true

[dev-packages]
flake8 = "~=3.7"
moto = "~=1.3"
pipenv-devcheck = "~=0.2"
pytest = "~=5.3"
twine = "~=3.2"
wheel = "~=0.34"

[packages]
boto3 = "~=1.13"
pandas = "~=1.0"
pyarrow = "~=0.17"
pandavro = {version = "==1.5.100", index = "nhds"}

[requires]
python_version = "3.7"
